*{
	margin:0px;
	padding:0px;
	border: 0px;
}
body{
	width: 1400px;
	height: 1500px;
}
<!--头部-->
#head{
	width: 1400px;
	height: 1000px;
}
#h1{
	width: 1400px;
	height: 90px;
	background-image: url(../images/QQ截图20170619210318.png);
	background-size: 1200px 90px;
	
}
#h1 div{
	float: left;
}
.h11 img{	
	width: 300px;
	height: 90px;
	margin-left: 150px;
}
.h12 ul{
	margin-top: 30px;
	margin-left: 30px;
}
.h12 ul li{
	padding-left: 30px;
	list-style-type: none;
	float: left;
}
.h12 ul li a{
	font-size: 20px;
	text-decoration: none;
	color: #5e84a4;
}
.h12 li a:hover{
	text-decoration: none;
	color: #52b3ff;
}
#h21 a{
	color: #52b3ff;
}
.h2{
	width: 1400px;
	height: 333px;
	background-image: url(../images/14715064509943.jpg);
	background-size: 1400px 333px;
	background-repeat: no-repeat;
}
.h2 div{
	float: left;
}
.h21 img{
	width: 230px;
	height: 60px;
	margin-top: 200px;
	margin-left: -90px;
}
.h22{
	margin-left: 550px;
	margin-top: 55px;
	height: 192px;
	width: 163px;
	background-color: white;

}
.h22 p{
	padding-left: 7px;
	padding-top: 10px;
	color: red;
}
.h22 img{
	padding-left: 7px;
	padding-top: 5px;
	width: 147px;
	height: 147px;
}
<!--中部-->
#content{
	width: 1400px;
	height: 740px;
}
#content div{
	float: left;
}
#c1{
	width: 770px;
	height: 740px;
	margin-left: 200px;
}
#c1 div{
	float: left;
}
.c11{
	width:770px;
}
.c11 img{
	float: left;
}
.c111{
	padding-left: 299px;
}
.c112{
	margin-top: 10px;
}
.c112 div{
	float: left;
}
.c1122{
	margin-left: 20px;
}
#n1{
	width: 500px;
	height: 45px;
}
#p1{
	text-align: center;
	color: #009cff;
	font-size: 20px;
}
#p2{
	text-align: center;
	color: #44474e;
	font-size: 14px;
	line-height: 34px;
}
.c1122 hr{
	background-color: gray;
	height: 1.5px;
}
.c1122 ul li{
	margin-left: 30px;
	list-style-type: none;
	line-height: 35px;
}
.c1122 li a{
	text-decoration: none;
	color: #44474e;
}
.c11{
	width:770px;
}
.c11 img{
	float: left;
}
.c121{
	margin-top: 40px;
	padding-left: 289.27px;
}
.c122 div{
	float: left;
}
.c1221{
	margin-left: 30px;
}
.c1221 img{
	width: 210px;
	height: 120px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#c2{
	width: 245px;
	height: 740px;
}
#c2 img{
	margin-left: 10px;
}
#c21{
	margin-bottom: 25px;
}
#p3{
	clear: both;
	text-align: center;
	font-size: 25px;
}
#p3 a{
	text-decoration: none;
	color: #44474e;
}
#p3 a:hover{
	color: #52b3ff;
}
#p3 span{
	padding-left: 200px;
}
<!--尾部-->
#footer{
	width: 1400px;
	height: 200px;
	
}
#f1{
	height: 200px;
	margin-top: 100px;
	background-color: #181c23;
}
#footer img{
	margin-top: 10px;
	margin-left: 200px;
}