*{
	margin:0px;
	padding:0px;
	border: 0px;
}
body{
	width: 1895px;
	height: 2904px;
}
/*头部*/
#head{
	width: 1895px;
	height: 852px;
}
.h1{
	width: 1895px;
	height: 150px;
	background-color: rgb(11, 11, 11);
}
.h1 div{
	float: left;
}
.h11 img{
	margin-left: 150px;
}
.h12 div{
	float: left;
}
.h12 img {
	margin-top: 40px;
}
.h12 ul {
	margin-left: 30px;
	margin-right: 50px;
	margin-top: 60px;
}
.h12 ul li{
	padding-left: 30px;
	line-height: 20px;
	float: left;
}
.h12 ul li a{
	list-style-type: none;
	text-decoration: none;
	color: white;
	font-size:25px;
}
.h12 ul li a:hover{
	color: #52b3ff;
}
.h12 ul li a span{
	padding-left: 15px;
	font-size: 10px;
	color: gray;
}
/*.h12 img{
	margin-left: 20px;
	margin-top: 35px;
}*/
.h13{
	margin-top: 10px;
	line-height: 40px;
}
.h13 p{
	color: #c0c0c0;
	font-size: 27px;
}
.h13 input[type='text']{
	height: 30px;
	font-size: 20px;
	background-color: #B0B0B0;
}
.h13 input[type='password']{
	height: 30px;
	font-size: 20px;
	background-color: #B0B0B0;
}
.h13 input[type='submit']{
	height: 40px;
	width: 90px;
	font-size: 25px;
	margin-top: 15px;
	margin-left: 240px;
	background-color: #D0D0D0;
}
.h21{
	width: 1895px;
	height: 650px;
}
/*中部*/
#content{
	width: 1895px;
	height: 1710px;
}
#content div{
	float: left;
}
.c1 img{
	clear: both;
	margin-top: 100px;
	margin-left: 100px;
}
.c2 img{
	width: 1130px;
	margin-top: 70px;
	margin-left: 100px;
}
.c2 ul{
	margin-top: 30px;
	margin-left: 104px;
}
.c2 li{
	line-height: 45px;
	list-style-type: none;
}
.c2 ul li a{	
	text-decoration: none;
	color: #555555;
	font-size: 25px;
}
.c2 ul li a:hover{
	color: #FFCC66;
}
.c21 img{
	margin-top: 40px;
}
.s1{
	margin-right: 50px;
}
.s2{
	color: #bababa;
	font-size: 25px;
	float: right;
}
.c3{
	margin-left: 30px;
	margin-top: 89px;
	width: 450px;
	height: 600px;
}
#p3{
	padding-top: 30px;
	clear: both;
	text-align: center;
	font-size: 30px;
}
#p3 a{
	text-decoration: none;
	color: #44474e;
}
#p3 a:hover{
	color: #52b3ff;
}
#p3 span{
	padding-left: 280px;
}
/*尾部*/
#footer{
	width: 1895px;
	height: 300px;
	
}
#f1{
	height: 300px;
	margin-top: 150px;
	background-color: #181c23;
}
#footer img{
	margin-top: 10px;
	margin-left: 450px;
}